#### Machine Learning Zoomcamp
# Homework Solution of Module-01 (Introduction to Machine Learning )

In [1]:
import pandas as pd
pd.__version__

'2.2.2'

## Q2. Records count

Dataset : wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

### How many records are in the dataset?

- 12
- 1000
- 2160
- 12160

In [2]:
# Read file CSV
data = pd.read_csv('../dataset/laptops.csv')
len(data)

2160

In [3]:
# Print data
print(data)

                                                 Laptop       Status   Brand  \
0     ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...          New    Asus
1     Alurin Go Start Intel Celeron N4020/8GB/256GB ...          New  Alurin
2     ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...          New    Asus
3     MSI Katana GF66 12UC-082XES Intel Core i7-1270...          New     MSI
4     HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...          New      HP
...                                                 ...          ...     ...
2155  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2156  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2157  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2158  Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...  Refurbished   Razer
2159  Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...  Refurbished   Razer

           Model                CPU  RAM  Storage Storage type       GPU  \
0     ExpertBook      Intel Core i5    8      512          SSD       NaN
1             Go      Intel Celeron    8      256          SSD       NaN
2     ExpertBook      Intel Core i3    8      256          SSD       NaN
3         Katana      Intel Core i7   16     1000          SSD  RTX 3050
4            15S      Intel Core i5   16      512          SSD       NaN
...          ...                ...  ...      ...          ...       ...
2155       Blade      Intel Core i7   16     1000          SSD  RTX 3060
2156       Blade      Intel Core i7   16     1000          SSD  RTX 3070
2157       Blade      Intel Core i7   32     1000          SSD  RTX 3080
2158        Book  Intel Evo Core i7   16     1000          SSD       NaN
2159        Book  Intel Evo Core i7   16      256          SSD       NaN

      Screen Touch  Final Price
0       15.6    No      1009.00
1       15.6    No       299.00
2       15.6    No       789.00
3       15.6    No      1199.00
4       15.6    No       669.01
...      ...   ...          ...
2155    17.3    No      2699.99
2156    17.3    No      2899.99
2157    17.3    No      3399.99
2158    13.4   Yes      1899.99
2159    13.4   Yes      1699.99

[2160 rows x 12 columns]

In [4]:
df = pd.DataFrame(data)
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

### Answer : 2160

## Q3. Laptop brands

### How many laptop brands are presented in the dataset?

- 12
- 27
- 28
- 2160

In [5]:
# distinct value of 'Brand'
distinct_count = data['Brand'].nunique()

print("Number of laptop brands:", distinct_count)

Number of laptop brands: 27

### Answer : 27

## Q4. Missing values

### How many columns in the dataset have missing values?

- 0
- 1
- 2
- 3

In [6]:
# Missing value
missing_values_per_column = data.isna().sum()

# Number of columns which have missing values
columns_with_missing_values = missing_values_per_column[missing_values_per_column > 0].count()

print("Number of columns which have missing values:", columns_with_missing_values)

Number of columns which have missing values: 3

### Answer : 3

## Q5. Maximum final price

### What's the maximum final price of Dell notebooks in the dataset?

- 869
- 3691
- 3849
- 3936

In [7]:
dell_notebooks = data[data['Brand'] == 'Dell']

# Find max price of "Final Price" column
max_final_price = dell_notebooks['Final Price'].max()

print("Max price of Dell notebooks:", round(max_final_price))

Max price of Dell notebooks: 3936

### Answer : 3936

## Q6. Median value of Screen

1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.

Has it changed?

|| Hint: refer to existing mode and median functions to complete the task.

- Yes
- No

In [8]:
import pandas as pd

# Read the CSV file
data = pd.read_csv('../dataset/laptops.csv')

# Calculate the median of the 'Screen' column
median_screen = data['Screen'].median()
print("Median value of the Screen column:", median_screen)

# Calculate the most frequent value (mode) of the 'Screen' column
most_frequent_screen = data['Screen'].mode()[0]
print("Most frequent value of the Screen column:", most_frequent_screen)

# Fill missing values in the 'Screen' column with the most frequent value
data['Screen'] = data['Screen'].fillna(most_frequent_screen)

# Calculate the median of the 'Screen' column again after filling missing values
new_median_screen = data['Screen'].median()
print("Median value of the Screen column after filling missing values:", new_median_screen)

# Check if the median has changed
has_changed = median_screen != new_median_screen

if has_changed:
    print("Median has changed after filling missing values.")
else:
    print("Median has not changed after filling missing values.")

Median value of the Screen column: 15.6
Most frequent value of the Screen column: 15.6
Median value of the Screen column after filling missing values: 15.6
Median has not changed after filling missing values.

### Answer : No

## Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the sum of all the elements of the result?

|| Note: You just implemented linear regression. We'll talk about it in the next lesson.

- 0.43
- 45.29
- 45.58
- 91.30

In [9]:
import pandas as pd
import numpy as np

# Read the CSV file
data = pd.read_csv('../dataset/laptops.csv')

# Select all "Innjoo" laptops
innjoo_laptops = data[data['Brand'] == 'Innjoo']

# Select only the columns RAM, Storage, and Screen, and convert them to numeric
X = innjoo_laptops[['RAM', 'Storage', 'Screen']].apply(pd.to_numeric, errors='coerce').values

# Compute the transpose of X and then the matrix multiplication XTX
XTX = np.dot(X.T, X)

# Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Create array y with given values
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Compute the result w
w = np.dot(XTX_inv, np.dot(X.T, y))

# Calculate the sum of all elements in w
result_sum = np.sum(w)

print("Sum of all elements of the result:", round(result_sum, 2))

Sum of all elements of the result: 91.3

### Answer : 91.30